# =====================
# PYTHON
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# BACKEND
# =====================
backend/venv/
backend/.env

# =====================
# FRONTEND (Next.js)
# =====================
frontend/node_modules/
frontend/.next/
frontend/.env.local

# =====================
# DATABASE
# =====================
database/*.db

# =====================
# OS / Editor
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/
