/* ===== FLEX FULL HEIGHT LAYOUT ===== */
html, body {
  height: 100%;
  margin: 0;
}

.app-body {
  min-height: 100vh;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.page-container {
  flex: 1;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}


body {
  background: #f4f4f4;
}

.content-offset {
  padding-top: 80px;
}
